<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
     <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addTask.js"></script>
</head>
<body>
    <h1>{{title}}</h1>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form id="taskForm">
        <label>Task</label>
        <input type="text">
        <br>
        <br>
        <label>Status</label>
        <select>
            <option>Complete</option>
            <option>InComplete</option>
        </select>
        <br>
        <br>
        <label>Owner</label>
        <select>
            <option>Arun</option>
            <option>Ram</option>
            <option>dani</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Save">
        <input type="reset" value="Clear">
    </form>
</body>
</html>