<html>
    <head>
        <title>User</title>
        <script src="/js/jquery-3.6.1.js"></script>
        <script src="/js/user.js"></script>
        <link rel="stylesheet" href="/css/user.css">
    </head>
    <body>
        <h1>User</h1>
        <br>
        <div>
           <a href="/user">Users</a>
           <a href="/tasks">Tasks</a>
        </div>
        <br>
        <br>
        <div id="divBtn">
        <button class="cornerBtn" id="addBtn">Add</button>
        <button class="cornerBtn" id="editBtn">Edit</button>
        <button class="cornerBtn">Delete</button>
        </div>
        <br>
        <table id="user">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Arun</td>
                    <td>abc@gmail.com</td>
                    <td>271216</td>
                </tr>
                 <tr>
                     <td><input type="checkbox"></td>
                    <td>Ram</td>
                    <td>abc@gmail.com</td>
                    <td>271216</td>
                </tr>
                 <tr>
                     <td><input type="checkbox"></td>
                    <td>dani</td>
                    <td>abc@gmail.com</td>
                    <td>271216</td>
                </tr>
            </tbody>
        </table>
    </body>

</html>